<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <title>Book List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <h1>Hello <span sec:authentication="name"></span>, Welcome to the Bookstore</h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Sign Out</button>
    </form>

    <table class="table table-striped">
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Year</th>
        <th>Category</th>
        <th></th>
      </tr>
      <tr th:each="book : ${books}">
        <td th:text="${book.author}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.publicationYear}"></td>
        <td th:text="${book.category.name}"></td>
        <td>
          <a
            th:href="@{/edit/{id}(id=${book.id})}"
            class="btn btn-primary btn-sm"
            >Edit</a
          >
          <form th:action="@{/delete/{id}(id=${book.id})}" method="post" style="display:inline;">
              <button type="submit" onclick="return confirm('Are you sure you want to delete this book?');">
                  Delete
              </button>
          </form>
        </td>
      </tr>
    </table>
    <a href="/add" class="btn btn-success">Add Book</a>
  </body>
</html>
